:root {
  --white: #fff;
  --black: #000;

  --burlywood-100: #e8d7cb;
  --burlywood-200: #9a9691;
  --burlywood-300: #727272;

  --light-slategray-400: #6d7b80;

  --gray-500: #808080FF;
  --gray-600: #555;
  --gray-700: #404042;
  --gray-800: #323133;
  --gray-900: #2d2d2d;

  --gold-yellow-600: #de9941;
}